@media only screen and (min-width:768px) and (max-width:991px) {

  .line-title {
    display: none !important;
  }

  .skills .title {
    transform: translateX(0) !important;
  }


  .skills .img-skills {
    left: -20 !important;
    width: 450px !important;
  }
}

@media only screen and (max-width: 535px) {
  .skills .wrapper-skills {
    transform: translateX(-20px);
  }
}

@media only screen and (max-width: 475px) {
  .skills .wrapper-skills {
    transform: translateX(-50px);
  }
}

@media only screen and (max-width: 435px) {
  .skills .wrapper-skills {
    transform: translateX(-60px);
  }
}

@media only screen and (max-width: 415px) {
  .skills .wrapper-skills {
    transform: translateX(-70px);
  }
}

@media only screen and (max-width: 395px) {
  .skills .wrapper-skills {
    transform: translateX(-80px);
  }
}

@media only screen and (max-width: 375px) {
  .skills .wrapper-skills {
    transform: translateX(-100px);
  }
}

@media only screen and (max-width: 355px) {
  .skills .wrapper-skills {
    transform: translateX(-105px);
  }
}

@media only screen and (max-width:767px) {

  .line-title {
    display: none !important;
  }

  .skills .title {
    transform: translateX(0) !important;
  }


  .skills .img-skills {
    left: -20 !important;
    width: 450px !important;
  }
}